*{
  /**border: 1px solid rgba(0, 0, 0, 0.3);**/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #5b5b5b;
}


.page1{
  height: 700px;
  width: 100% ;
  background-image: url('../images/1.png');
  background-size: cover;
  background-position: center;
  position: relative;

}

.actual {
  color: #f5afad;
}

.header {
  height: 60px;
  display: block;
  font-size: 12pt;
  top: 0;
  width: 100%;
  background-color: #fff;
}

.block-header{
  display: inline-block;
  height: 64px;
  width: 10%;
  background-color: #fff;
  float: left;
}

.menu {
    display: inline-block;
    position: absolute;
    width: 90%;
    float: right;
    background-color: #fff;
}


a {
    text-decoration: none;
}

a:hover {
   color: #f5afad;
  }
li  {
    overflow: hidden;
    display: block;
    float: left;
    color: #5b5b5b;
    text-align: center;
    padding: 20px 60px 25px 0;
    text-decoration: none;
}




.card{
  top: 30%;
  margin: auto;
}

.pink-recktangle{

  width: 400px;
  height: 250px;
  background-color: #f5afad;
  border-radius: 5px;
  margin: auto;
  margin-top: 80px;
  padding: 10px;
}

.white-recktangle{
  width: 380px;
  height: 195px;
  background-color: #eee;
  margin: auto;
  padding: 5px;
  text-align: center;
}

.card-text-2{
  margin: auto;
}

.card-text-1-1{
  display: inline-block;
}

.card-text-1-2{
  display: inline-block;
}


.page2{
  width: 100%;
  background-color: #eee;
  z-index: 1;
  padding-top: 50px;
  padding-bottom: 50px;
}



.content{
  width: 80%;
  height: 650px;
  margin: auto;

}

.content2{
  width: 80%;
  height: 1000px;
  margin: auto;
}


  img {
    display: block;
    width: 100%;
    height: auto;
    filter: grayscale(100%);
  }

  img:hover{
    filter: none;
 }

 #myImg {
   filter: none;
 }

  .line1, .line2, .line3 {
    /*width: 1100px;*/
    margin-left: auto;
    margin-right: auto;
  }

  .box {
    width: 25%;
    height: 200px;
    float: left;
    overflow:hidden;
    text-align:center;
  }

  .box2 {
    width: 25%;
    height: 200px;
    padding: 3px;
    float: left;
    margin: auto;
    overflow:hidden;
    text-align:center;
  }

.box:hover{
  position: relative;
  z-index: 1;
  transform: scale(1.4);
  padding: 0;
  border-style: solid;
  border-width: 5px;
  border-color: #f5afad;
  border-radius: 5px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.button-page2{
  display: block;
  margin: auto;
}

.button{
  height: 40px;
  width: 150px;
  border-style: solid;
  border-width: 3px;
  border-color: #f5afad;
  border-radius: 3px;
  margin: auto;
  text-align: center;
  }

.button-text{
  padding-top: 7px;
}

.button:hover{
  background-color: #f5afad;
}




.footer{
  height: 80px;
    width: 100%;
    background-color: #5b5b5b;

}

.block-footer{
  display: inline-block;
  height: 80px;
  width: 10%;
  background-color: #5b5b5b;
  float: left;
}

.vk{
  display: inline-block;
  height: 30px;
  padding: 15px;
  padding-left: 0;
}

.twitter{
  display: inline-block;
  height: 30px;
  padding: 15px;
}

.insta{
  display: inline-block;
  height: 30px;
  padding: 15px;
}

.mail{
  position: absolute;
  float: right;
  color: #eee;
}

.about{
  background-color: #eee;
  width: 100%;
  padding-bottom: 50px;



}

#myphoto{
  filter: none;
}


.photo{
  width: 600px;
  height: auto;
  padding-top: 10%;
  margin: auto;

}







.JesterBox div {
  visibility: hidden;
  position: fixed;
  top: 5%;
  right: 5%;
  bottom: 5%;
  left: 5%;
  z-index: 75;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.JesterBox div:before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 74;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.5s ease-out;
}

.JesterBox div img {
  position: relative;
  z-index: 77;
  width: auto;
  filter: none;
  max-height: 100%;
  margin-left: -9999px;
  opacity: 0;
  transition-property: all, opacity;
  transition-duration: 0.5s, 0.2s;
  transition-timing-function: ease-in-out, ease-out;
}

.JesterBox div:target { visibility: visible; }

.JesterBox div:target:before { background-color: rgba(0, 0, 0, 0.7); }

.JesterBox div:target img {
  margin-left: 0px;
  opacity: 1;
}
