*{
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #5b5b5b;
}

.page1 img {
  width: 100%;
}
.page1{
  position: relative;

ul {
    display: inline-block;
    list-style-type: none;
}

li {
    float: left;
}

li a {
    display: block;
    color: #5b5b5b;
    text-align: center;
    padding: 25px 30px;
    text-decoration: none;
}


}
.header{
   height: 40px;
   display: inline-block;

   font-size: 12pt;
   position: absolute;
   top: 0;
   width: 70%;
}

.block-header{
  /*border-radius: 0 0 5px 0;*/
  display: inline-block;
  height: 75px;
  width: 20%;
  background-color: #f5afad;
}

/*.card{
  position: absolute;

}

.card-pink{
  width: 100px;
  height: 45px;
  background-color: #f5afad;
  border-radius: 10px;
}*/
